.logo-and-wordmark-wrapper {
  // Override default h1 margins
  margin-block: 0;
}

.logo-and-wordmark {
  $logo-size: 64px;
  // Combined Oasis wordmark SVG viewBox is 193×83
  $logo-width: calc(#{$logo-size} * 193 / 83);

  align-items: center;
  display: flex;
  justify-content: center;
  // Bug 1967304 - Large number (48px)
  margin-block-end: var(--space-xxlarge);

  // Edge case for users who have pocket stories turned off
  .no-recommended-stories & {
    // Bug 1967304 - Large number (40px)
    margin-block-end: calc(var(--space-large) + var(--space-xlarge));
  }

  .logo {
    display: inline-block;
    height: $logo-size;
    width: $logo-width;
    background: url('chrome://branding/content/logo-oasis.svg') no-repeat center;
    background-size: contain;
  }

  .wordmark {
    display: none;
  }

  @media (max-width: $break-point-medium - 1) {
    $logo-size-small: 64px;
    $logo-width-small: calc(#{$logo-size-small} * 193 / 83);

    .logo {
      background-size: contain;
      height: $logo-size-small;
      width: $logo-width-small;
    }
  }
}

